.textMuted{
    display: none;
}
.textMuted.show{
    display: table-row;
}
.ranges{
    ul{
        li{

        }
        li:hover{
           background-color: #c5ddff !important;
        }
    }
}
.rangeDate{
    width: 100%;
    svg{
        display: none;
    }
}
.rangeDate:hover{
  border-color:#333 ;
}
.table_responsive{
    overflow: visible;
}
.dropdown:hover .dropdown_menu{
    display: block;
}
.modal{
    
    position: fixed !important;
    background-color: rgba(51, 51, 51, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none !important;
    justify-content: space-around;
    z-index: 6;
    .announce{
        position: relative;
        height: 180px;
        width: 500px;
        max-width: calc(100% - 100px);
        top: 60px;
        background-color: aliceblue;
        min-height: 110px;
        border-radius: 5px;
        overflow: hidden;
        .title{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 25px;
        }
        .description{
            margin-top: auto;
            margin-bottom: auto;
            font-size: 1rem;
            text-transform: lowercase;
            position: relative;
            height: 40%;
            bottom: 0;
            padding: 0px 30px;
        }
        .footer{
            width: 100%;
            height: 30%;
            position: relative;
            bottom: 0;
            display: flex;
            justify-content: end;
        }
    }
   
}
.modal.show{
    display: flex !important;
}